.person-description-container {
    height: auto;
    text-align: justify;
}

.person-description-container ul{
    font-size: 15px;
    line-height: 1.8;
} 


@media (max-width: 400px) {
    .experience-description-container {
        max-width: 300px;
    }

    .person-description-container{
        max-width: 300px;
    }
}