.all-team-container{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.team-info-container{
    margin-bottom: 150px;
}

.team-info-container h1{
    display: flex;
    justify-content: center;
    font-family: "Inter", serif;
    margin-bottom: 80px;
}

/* Team Member */
.team-member {
    cursor: pointer;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
}


/* Popup Modal */
.popup-modal {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: var(--background-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*max-width: fit-content;*/
    width: 800px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    font-family: "Inter";
    color: var(--dark-text);
    text-align: justify;
}

.popup-content {
    background: transparent !important; /* Прибирає додатковий фон */
    box-shadow: none !important; /* Забирає тінь */
    border: none !important;
}

.popup-modal img {
    width: 330px;
    height: 422px;
    border-radius: 8px;
    flex-shrink: 0;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.popup-modal h2 {
    margin: 1rem 0;
}

.popup-modal p {
    font-size: 1rem;
}

/* Close Button */
.close-modal-btn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 2rem;
    background: none;
    color: var(--dark-text);
    cursor: pointer;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .popup-modal {
        flex-direction: column; /* В стовпчик на малих екранах */
        max-width: 100%; /* Займає всю ширину */
    }

    .popup-modal img {
        width: 100%;
        height: auto; /* Пропорційна зміна висоти */
    }
}

