.all-team-container {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.team-info-container {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 150px;
}

.team-info-container h1 {
    display: flex;
    justify-content: center;
    font-family: "Inter", serif;
    margin-bottom: 80px;
}

/* Team Member */
.team-member {
    cursor: pointer;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
}


/* Popup Modal */
.popup-modal {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: var(--background-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*max-width: fit-content;*/
    width: 800px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    font-family: "Inter";
    color: var(--dark-text);
    text-align: justify;
}

.popup-content {
    background: transparent !important;
    /* Прибирає додатковий фон */
    box-shadow: none !important;
    /* Забирає тінь */
    border: none !important;
}

.popup-modal img {
    width: 330px;
    height: 422px;
    border-radius: 8px;
    flex-shrink: 0;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.popup-modal h2 {
    margin: 1rem 0;
}

.popup-modal p {
    font-size: 1rem;
}

/* Close Button */
.close-modal-btn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 2rem;
    background: none;
    color: var(--dark-text);
    cursor: pointer;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    .all-team-container {
        gap: 70px;
    }
}

@media (max-width: 1200px) {
    .all-team-container {
        gap: 40px;
    }
}

@media (max-width: 1100px) {
    .all-team-container {
        gap: 50px;
    }
}

@media (max-width: 910px) {
    .all-team-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        width: 750px;
        row-gap: 100px;
        place-items: center;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 576px) {
    .team-info-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .all-team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        padding-left: 0;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .all-team-container{
        width: 320px;
    }
}

